.circle > img {
    border-radius: 50%;
    position: relative;
    /* TODO: decide based on the rest of the website how big the avatar should be*/
    width: 100px;
    height: 100px;
    overflow: hidden;
    /* object-fit handles cropping for you! */
    object-fit: cover;
}